/*-----------------------------------------------background----------------------------------------------------*/
.stuHome{
    background-image: url('Images/StockSnap_BKC8Y8VF8K-1.jpg') ;
    background-size: cover;
    height: 100%;
}

.comment{
    background-image: url('Images/StockSnap_BKC8Y8VF8K-1.jpg') ;
    background-size: cover;
    height: 100%;
}

#comment{
    background-image: url('Images/43011aa1441cd95097ad81db69d88eee--pattern-background-vector-background.jpg') ;
    background-size: cover;
    height: 100%;
}

.column-86{
    margin-left: 100%;
}

li.footer{
    display: block;
    color: rgb(0, 0, 0);
    justify-content: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}